.header {
    padding: 92px 24px 96px;
}

.header__menu {
    
}

.header__links-list {
    display: flex;
    margin-right: 100px;
    font-size: 18px;
    line-height: 21.13px;
    font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link {
    
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
}

.header__logo-image {

}

.address {
}

.header__address {
}

.cover {
    padding-bottom: 179px;

}

.lots {
    padding: 0 24px 146px;

}

.about {
    padding: 0 24px 180px;

}

.footer {
    padding: 0 50px 80px;

}
